---
import BaseLayout from '../layout/BaseLayout.astro'

const res = await fetch("https://restcountries.com/v3.1/all")
const data = await res.json()
---

<BaseLayout>	
	<ul id="countries">
		{data.map(d => (
			<li>
				<a href={`/country/${d.ccn3}`}>{d.name.common}</a>
			</li>
		))}
	</ul>
</BaseLayout>>
